<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="text-center">Enter City Name:</h3></div>
    <input class="input" [(ngModel)]="location" (input)="location=sendLocation()" type="text"/>
  </div>
  <div>
    <img class="icon" src="http://openweathermap.org/img/w/{{ this.searchResults.weather[0].icon }}.png" alt="">
    <p>Location: {{ this.searchResults.name }} </p>
    <p>Temperature: {{ this.searchResults.main.temp }}°C </p>
    <p class="icon">Curent Conditions: {{ this.searchResults.weather[0].description | titlecase }} </p>
  </div>
</div>
